$accentcolor: #c00;
$secondarycolor: #666;
$linkcolor: #00a;
$light_contrast: #e3e3e3;
$medium_contrast: #aaaaaa;
$strong_contrast: #777;
$emphasis_color: #ffa;

// $helvetica: "Avenir Next", "Segoe UI", "Roboto", "Trebuchet MS", sans-serif;

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin header_sublines() {
  font-family: "Avenir Next", "Segoe UI", "Roboto", "Trebuchet MS", 'Arial', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  line-height: 22px;
  @media (max-width: 40em) {
    font-size: 18px;
    // line-height: 20px;
  }
}

@mixin link(){
  text-decoration: none;
  border-bottom: 1px dotted $medium_contrast;
  margin-bottom: -1px;
  cursor: pointer;
}

@mixin small_helvetica() {
  font-family: $helvetica;
  &, a {
    font-size: 0.95rem;
    line-height: 1.30rem;    
  }
}

@mixin very_small_helvetica() {
  font-family: $helvetica;
  &, a {
    font-size: 0.8rem;
    line-height: 1.20rem;    
  }
}

@mixin emphasis {
  font-weight: normal;
  background-color: $emphasis_color;
  color: #000;
  box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  -moz-box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  -webkit-box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  display: inline;
}