@import 'variables';

#authorbox {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  margin-top: 1rem; 
  .authoricon {
    float:left;
    img {
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
    }
    float: left;
    margin: 0 1.5rem 0 1rem;
    @media (max-width: 40em) {
      // small
      float: none;
      margin: 0.5rem auto;
    }
  }
  .authorcontent {
    overflow:hidden;
    @media (max-width: 40em) {
      padding: 0 2rem;
      h2 {
        text-align: center;
      }
    }
    p {
      color: #666;
      margin: 0;
      padding: 0;
      line-height: 1.2;
    }
  }
}