@import 'variables';

h2.content-title {
  @media (max-width: 40em) {
    // small screens only
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.85rem;
    margin: 1rem 0 0;
  }
  @media (min-width: 40.063em){
    // medium screens
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.25rem;
    margin: 1rem 0 0.5rem;
  }
  @media (min-width: 64.063em){
    // large screens and up
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 4.15rem;
    margin: 1rem 0 0.5rem;
  }
}

#content {
  p, div {
    margin-bottom: 0.95rem;
    text-align: left;
    @media (max-width: 40em) {
      font-size: 1.15rem;
      line-height: 1.65rem;
    }
    &:empty {
      display: none;
    }
  }
  #content_inner_wrapper {
    div.wp-caption {
      p:first-of-type {
        background-color: transparent;
      }
    }
    h2, h3 {
      font-family: $helvetica;
      font-weight: 700;
      font-size: 1.65rem;
      line-height: 2.15rem;
      color: black;
      margin: 2rem 0 0.5rem;
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    h2 {
      font-size: 2rem;
      line-height: 2.25rem;
    }
    strong {
      @include emphasis();
    }
    a {
      @include link();
    }
    blockquote {
      text-align: left;
      padding-top: 1rem;
      padding-bottom: 0.2rem;
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important;
      font-style: italic;
      .author, .name, .source {
        font-style: normal;
        display: block;
        &::before {
          content: '– ';
        }
      }
    }
    ul {
      padding-left: 1.5rem;
      margin-bottom: 0.95rem;
      li {
        margin-bottom: 0.35rem;
        padding-left: 0.3rem;
      }
    }
    ol {
      padding-left: 2rem;
      margin-bottom: 0.95rem;
      li {
        margin-bottom: 0.35rem;
      }
    }
    li {
      @media (max-width: 600px) {
        font-size: 1.15rem;
        line-height: 1.35rem;
      }
    }
  }
  // #social {
  //   margin: 2.5rem 0;
  //   background-color: $emphasis_color;
  //   .inner {
  //     .sharing {
  //       @media (max-width: 500px) {
  //         display: none;
  //       }
  //     }
  //     padding: 0.5rem;
  //     p {
  //       text-align: center;
  //       @include small_helvetica();
  //       padding: 0 0.5rem;
  //       margin: 0.35rem;
  //       color: #333;
  //       line-height: 1.65rem;
  //       font-size: 1rem;
  //       a {
  //         @include link();
  //       }
  //     }
  //     .code {
  //       word-wrap: break-word;
  //       font: {
  //         family: monospace;
  //         size: 1.3rem;  
  //       }
  //     }
  //   }
  // }

  .wp-caption {
    background-color: $light_contrast;
    max-width: 100%;
    p {
      margin: 0;
      @include small_helvetica();
      &, a {
        color: $strong_contrast;
      }
      text-align: center;
    }
    img {
      width: 100%;
      display: block;
    }
    &.aligncenter {
      margin-left: auto;
      margin-right: auto;
    }
  }  
  img {
    max-width: 100%;
    height: auto;
  }
  .alignleft {
    float: left;
    vertical-align: top;
    margin: 0 1rem 0.25rem 0;
    max-width: 50%;
  }
  .alignright {
    float: right;
    vertical-align: top;
    margin: 0 0 0.25rem 1rem !important;
    max-width: 50%;
  }
  div.wp-caption {
    margin-top: 0rem;
  }    

  @media (max-width: 40em) {
    img, .wp-caption {
      max-width: 100%;
      margin: 0rem auto 0;
      float: none;
      clear: both;
      display: block;
    }

    .alignright {
      max-width: 40%;
      float: right;
    }
    .alignleft {
      max-width: 40%;
      float: right;
    }
  }
}
