@import 'variables';

footer {
  .inner {
    margin: 0;
    border-top: 1px solid #efefef;
    #poweredby {
      text-transform: uppercase !important;
      color: #aaa !important;
      a {
        color: #aaa !important;
      }
      font-size: 12px !important;
      font-family: Verdana, Arial, sans-serif;
    }
  }

  p, li {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  padding-bottom: 1.5rem;
  text-align: center;
  ul {
    padding: 0;
    width: 80%;
    margin: 1rem auto 0.5rem;
    text-align: center;
    li {
      // @include small_helvetica;
      font-size: 0.9rem;
      text-transform: uppercase;
      // margin-bottom: 0.75rem;
    }
    li {
      display: inline-block;
      padding: 0.25rem 1rem;
      a {
        color: #444;
        font-weight: 700;
      }
      @media (max-width: 500px) {
        // font-size: 1rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}