#headerwrapper {  
  // position: fixed;
  // top: 0;
  width: 100%;
  margin-bottom: 3rem;
  @media (max-width: 64em) {
    margin-bottom: 2rem;
  }
  @media (max-width: 40em) {
    margin-bottom: 1.5rem;
  }

  #header {
    padding: 0.75rem 0 0.5rem;
    h1 {
      font-family: "Avenir Next", "Segoe UI", "Roboto", "Trebuchet MS", 'Arial', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      margin: 0;
      font-size: 35px;
      line-height: 33px;
    }
    #description {
      margin: 0;
      @include header_sublines();
    }
    #socialicons {
      line-height: 55px;
      padding-top: 3px;
      i {
        font-size: 1.75rem;
        margin: 0 10px;
      }
    }
  }
}
