@import 'variables';

#content.home {
  overflow: auto;
  padding: 0;
  article {
    margin-bottom: 1rem;
    @media (max-width: 40em) {
      margin-bottom: 0.5rem;
    }
    h2 {
      word-wrap: break-word;
      font-size: 1.3rem;
      line-height: 1.6rem;
      font-weight: 500;
      margin-top: 0;
      padding-top: 0;
      @media (max-width: 40em) {
        font-size: 1rem;
        line-height: 1.2rem;
      }
      @media (max-width: 30em) {
        font-size: 0.9rem;
        line-height: 1.1rem;
      }
    }
    .readingtime {
      color: $medium_contrast;
      font-weight: normal;
      margin-bottom: 0;
      @include small_helvetica();
    }
    .domain_and_or_url {
      color: $medium_contrast;
      font-weight: normal;
      margin-bottom: 0;
      @include very_small_helvetica();
    }
    img {
      width: 100%;
      &:hover {
        opacity: 0.85;
      }
      margin-bottom: 0.35rem;
      @media (max-width: 40em) {
        margin-bottom: 0.1rem;
      }
    }
  }
}