@import 'variables';

body {
  background-color: white;
  &.single, &.page {
    .readingtime {
      color: $medium_contrast;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
}

h1,h2,h3 {
  font-weight: bold;
}

.row {
  max-width: 960px;
}

p, div, li {
  font-family: "Avenir Next", "Segoe UI", "Roboto", "Trebuchet MS", 'Arial', 'Helvetica Neue', sans-serif;
  font-size: 1.35rem;
  line-height: 2rem;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#dwgnr_write_noscript_warning {
  background-color: $emphasis_color;
  @include header_sublines();
  text-align: center;
  font-weight: 500;
  .inner {
    text-align: center;
    @media (max-width: 40em) {
      font-size: 13px;
      line-height: 17px;
      padding: 5px;
    }
  }
}

#dwgnr_facebook_topbar {
  background-color: #8b9dc3;
  div {
    line-height: 0; 
  }
  .inner {
    height: 40px;
    color: white;
    text-align: center;
    font-weight: 500;
    @include header_sublines();
    span {
      line-height: 40px;
    }
  }
  .fbwrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
    .fb-follow {
    }
  }
}