#underpost {
  h2 {
    text-align: left !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.5rem !important;
    line-height: 3rem !important;
    font-weight: 700 !important;
  }
  .rltdpstsplgn_content {
    // background-color: red;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    clear: both;
    // medium and up
    width: 100%;
    display: inline-block;
    h3 {
      display: list-item;
      text-align: left !important;
      font-weight: 300 !important;
      margin: 0 0 0 2rem !important;
      padding: 0 !important;
      line-height: 1.7rem !important;
      font-size: 1.2rem !important;
    }
  }
}