#sidebar {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  .inner {
    background-color: #eee;
  }
  li {
    list-style-type: disc;
    margin: 0.5rem 0 0.25rem 1.5rem;
    padding-left: 0rem;
  }
  .textwidget a {
    display: inline-block;
    border-bottom: 1px dotted #777;
  }
  a, p, li, div, label {
    color: #444;
    line-height: 1.7rem;
    font-size: 1.2rem;
    .small {
      line-height: 1.2rem;
      font-size: 0.9rem;
    }
  }
}