.dwgnr_write_sociallinks {
  padding: 0.5rem 0; }
  .dwgnr_write_sociallinks a.dwgnr_social_link {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
    border: none;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem; }
    .dwgnr_write_sociallinks a.dwgnr_social_link.facebook {
      background-color: #3b5998; }
    .dwgnr_write_sociallinks a.dwgnr_social_link.twitter {
      background-color: #4099FF; }
    .dwgnr_write_sociallinks a.dwgnr_social_link.mail {
      background-color: #FF8FE3; }
    .dwgnr_write_sociallinks a.dwgnr_social_link i {
      margin-right: 0.5rem; }
