$facebook: #3b5998;
$twitter: #4099FF;
$mail: #FF8FE3;

.dwgnr_write_sociallinks {
  padding: 0.5rem 0;
  a.dwgnr_social_link {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    border: none;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    &.facebook {
      background-color: $facebook;
    }
    &.twitter {
      background-color: $twitter;
    }
    &.mail {
      background-color: $mail;
    }
    i {
      margin-right: 0.5rem;
    }
  }
}