$accentcolor: #c00;
$secondarycolor: #666;
$linkcolor: #00a;
$light_contrast: #e3e3e3;
$medium_contrast: #aaaaaa;
$strong_contrast: #777;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

@mixin link(){
  text-decoration: none;
  border-bottom: 1px dotted $medium_contrast;
  margin-bottom: -1px;
}

@mixin pageblock() {
  max-width: 42rem;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 0.75rem;
}

@mixin small_helvetica() {
  font-family: $helvetica;
  &, a {
    font-size: 0.9rem;
    line-height: 1.30rem;    
  }
}

@mixin emphasis {
  font-weight: normal;
  background-color:#ffa;
  color: #000;
  box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  -moz-box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  -webkit-box-shadow: -4px 0 #ffa, 4px 0 #ffa;
  display: inline;
}