@import 'variables';

.rendered_pullquote {
  background-color: #f6f6f6;
  margin-top: 0.45rem;
  width: 40%;
  @media (max-width: 400px) {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
.rendered_pullquote .inner {
  margin: 1rem 1.25rem;
  font-family: $helvetica;
  font-weight: bold;
  font-size: 1.35rem;
  line-height: 2rem;
  text-align: left;
  @media (max-width: 500px) {
    & {
      margin: 0.5rem;
      font-size: 1.15rem;
      line-height: 1.6rem;
    }
  }
}
.rendered_pullquote.pullquote_left {
  float: left;
  margin-right: 1.5rem;
}
.rendered_pullquote.pullquote_right {
  float: right;
  margin-left: 1.5rem;
}